@tailwind base;
@tailwind components;
@tailwind utilities;

html,body,#root{height:100%}
body{@apply bg-gray-50 text-gray-800}

.card{@apply bg-white p-6 rounded-lg shadow-md}
.btn{@apply bg-indigo-600 text-white px-4 py-2 rounded-md hover:bg-indigo-700}
